body {
  margin: 16px;
  font-family: monospace;
}

table th,
table td {
  text-align: left;
  vertical-align: top;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }

  table th,
  table td {
    padding: 6px 8px;
  }

  table th:nth-child(4),
  table td:nth-child(4),
  table th:nth-child(5),
  table td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }

  table th,
  table td {
    padding: 4px 8px;
  }
}
