/* system */
:root {
  font-size: 12px;
  line-height: 1rem;
}

h2 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.p-i {
  font-style: italic;
}

/* flex */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.row-gap {
  gap: 1rem;
}

.ds {
  flex-shrink: 0;
}

/* a */

.a_div {
  text-decoration: none;
}

.a_wrapper_album .a_div:hover {
  color: rgb(117, 173, 32);
  transition: all 0.1s ease-in-out;
}

.a_wrapper_album .a_link:hover {
  color: rgb(117, 173, 32);
  transition: all 0.1s ease-in-out;
}

.a_wrapper_artist .a_div:hover {
  color: rgb(31, 55, 195);
  transition: all 0.1s ease-in-out;
}

a:hover,
:visited {
  color: #333;
}

header a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

table a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}

/* header */
.header_section {
}

/* body */
body {
  color: #333;
  padding-top: 3rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4.6rem);
}

/* main */
main {
  flex: 1;
}

table,
td,
tr {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.release_list_wrapper {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.artist_list_wrapper {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.artist_info_wrapper {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* footer */
footer {
  padding: 1.6rem 0;
  margin-top: 1.6rem;
}

@media (max-width: 480px) {
  :root {
    font-size: 11px;
  }
}

/*bottom*/

.pdb-1 {
  padding-bottom: 1rem;
}

.pdb-2 {
  padding-bottom: 2rem;
}

.pdb-3 {
  padding-bottom: 3rem;
}

.pdb-4 {
  padding-bottom: 4rem;
}

.pdb-20 {
  padding-bottom: 20rem;
}

/*right*/

.pdr-1 {
  padding-right: 1rem;
}

.pdr-2 {
  padding-right: 2rem;
}

.pdr-3 {
  padding-right: 3rem;
}

.pdr-4 {
  padding-right: 4rem;
}

/* opacity */
.op-075 {
  opacity: 0.75;
}

.op-05 {
  opacity: 0.5;
}

.op-025 {
  opacity: 0.25;
}

.font-500 {
  font-weight: 900;
}

/* img size */
.img_3rem {
  max-height: 3rem;
  width: auto;
  display: block;
  margin: 0;
}

.img_1rem {
  max-height: 1rem;
  width: auto;
  display: block;
  margin: 0;
}
