:root {
  font-size: 12px;
}

p {
  color: #333;
  line-height: 1;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  flex: 1;
}

footer {
  padding: 1.6rem 0;
  margin-top: 1.6rem;
}

header {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.release-warpper {
  padding-bottom: 5rem;
}
.album-table {
  border-collapse: collapse;
  margin-bottom: 1.2rem;
  table-layout: fixed;
}

.album-table td {
  text-align: left;
  padding: 0;
}

.cover-img {
  width: 4rem;
  height: auto;
  display: block;
  padding-right: 0.5rem;
}

.ol-img {
  width: 0.8rem;
  height: auto;
  display: block;
}

.td-1 {
  width: 5rem;
}

.td-2 {
  width: 20rem;
}

.td-3 {
  width: 4rem;
}

.td-4 {
  width: 10px;
  vertical-align: top;
}

.bold-text {
  font-weight: 500;
}

/* @media 쿼리는 가장 마지막에 위치해야 정상적으로 덮어쓰기가 됩니다. */
@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}
