:root {
  font-size: 12px;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  flex: 1;
}

footer {
  padding: 1.6rem 0;
  margin-top: 1.6rem;
}

header {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.album_card {
  margin-bottom: 2rem;
}

td {
  padding: 0 1rem 0 0;
  text-align: left;
  vertical-align: top;
}

td.td_pr2 {
  padding-right: 3rem;
}

tr {
  padding: 0;
}

.td_cover {
  max-height: 3rem;
}

.td_more_icon {
  max-height: 1rem;
}

@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}

.info_div_1 {
  padding-bottom: 1rem;
}

.info_div_2 {
  padding-bottom: 1rem;
}

.info_div_2_2 {
  padding-bottom: 1rem;
}

.info_div_3 {
  padding-bottom: 1rem;
}

.info_div_4 {
  padding-bottom: 1rem;
}
